*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color palette
azzurro: #B4D0E7
blu: #0061FF */
/* bordeaux:#61082B */

/* Utils */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 65px;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.mb-30{
    margin-bottom: 30px;
}



/* Header */

header{
    background-color: #B4D0E7;
    height: 700px;
    margin-bottom: 80px;
}

.navbar{
    height: 65px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

ul{
    list-style-type: none;
}

li{
    padding:0 10px;
}

a{
    text-decoration: none;
    color: #000;
}

.button{
    display: block;
    background-color: #0061FF;
    color: #fff;
    padding: 2px;
    text-align: center;
}

.small.button{
    width: 50px;
    height: 25px;
}

/* Jumbotron */
.left-side{
    width: 30%;
}
.regular.button{
    width: 180px;
    height: 40px;
    line-height: 40px;
}

.delete{
    padding: 2px;
}

.jumbotron p{
    font-size: 13px;
}

h1{
    font-size: 70px;
    padding-top: 50px;
}

.jumbotron i{
    font-size: 50px;
}

.right-side{
    width: 70%;
}

.jumbotron img{
    width: 100%;
}

.fa-arrow-down{
    font-size: 50px;
    text-shadow: 0 0 10px darkgrey;
    animation: bounce 0.5s linear infinite alternate;
}

@keyframes bounce {
    from{
        position: static;
    }

    to{
        position: relative;
        bottom: 20px;
    }
}
   

/* main */
.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 2px;
    border: 6px solid #0061FF;

}


.circle.circle-blue{
}

.circle.circle-grey{
    border:2px solid grey;
}

h2{
    font-size: 30px;
}

main section{
    margin-top: 120px;
    padding-left: 20px;
}

main section span{
    margin: 0 20px;
}

/* business-plan */

main .row{
    width: calc(100% / 3 -30px);
    margin-top: 50px;
    margin-bottom: 30px;
}

main .col{
    flex-basis: 33%;
    margin: 15px;
    border: 1px solid grey;
}

.user{
    text-align: center;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.user{
    padding: 10px;
}

h3{
    font-size: 22px;
}

.price{
    font-weight: bold;
    font-size: 12px;
}

.plan div{
    padding-left:10px;
    padding: 5px;
}

.business-plan h3{
    margin-bottom: 20px;
}

.business-plan div{
    margin-bottom: 10px;
}

.business-plan{
    border-bottom: 1px solid grey;
    padding: 20px;
    padding-bottom: 40px;
}

.plan .regular.button{
    margin: 0 auto;
    margin-bottom: 30px;
}

#buy{
    color: #0061FF;
    width: 10px;
    text-decoration: underline;
}

.plan{
    padding: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
}

.adventage{
    margin: 20px 0;
    padding: 20px;
    padding-bottom: 40px;
}

.adventage div{
    padding: 5px;
}

.fa-check{
    color: #0061FF;
}

.long-row{
    width: 100%;
    border: 1px solid grey;
}

.business-plan p{
    padding: 20px 0;
}

.vip{
    position: relative;
    padding: 20px;
    padding-bottom: 40px;
}

.vip p{
    padding-top: 20px;
}

.vip a{
    position: absolute;
    top:15%;
    right: 2%;
}

/* partner */
.row-partner{
    width: 100%;
    margin-top: 50px;
}

#partner-img{
    width: 90%;
    height: 400px;
}

#partner-content{
    width: 70%;
    position: relative;
    top: 20%;
    left: 0;
}

#partner-content h3,p,a{
    padding: 10px 0;
}

.white-button{
    display: inline-block;
    color: #000;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    background-color: #fff;
}

/* dropbox-business */
#business-title{
    text-align: center;
    padding: 20px;
}

.business-row{
    width: 100%;
    margin-bottom: 50px;
}

.business-col{
    width: 33.333%;
    text-align: center;
}

.business-col p{
    font-size: 12px;
}

.business-col img{
    max-width: 100%;
    padding: 5px;
}

/* partnership */
.bg-green{
  background-color:#A2D39B;
}

.bg-green:hover{
    border: 10px solid #D1E9CD;
}

.bg-red{
    background-color: #FF1C1C;
}

.bg-red:hover{
    border: 10px solid #D1E9CD ;
}

.bg-bordeaux{
    background-color:#61082B;
}

.bg-bordeaux:hover{
    border: 10px solid #D1E9CD ;
}

.bg-light-blue{
    background-color: #0093CE;
}

.bg-light-blue:hover{
    border: 10px solid #D1E9CD ;
}

.bg-dark-red{
    background-color: #D5001F;
}

.bg-dark-red:hover{
    border: 10px solid #D1E9CD ;
}

.bg-cyan{
    background-color: #B4D0E7;
}

.bg-cyan:hover{
    border: 10px solid #D1E9CD ;
}

.bg-blue{
    background-color: #0D2481;
}

.bg-blue:hover{
    border: 10px solid #D1E9CD ;
}

.bg-yellow{
    background-color: #FFD830;
}

.bg-yellow:hover{
    border: 10px solid #D1E9CD ;
}
h2{
    font-size: 40px;
    padding-bottom: 20px;
}

.partnership a{
    text-decoration: underline;
}

.partnership-row{
    margin-top: 50px;
}

.partnership-col{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

.small-square{
    width:50%;
    height: 50%;
    position: relative;
    border:10px solid transparent;
    transition: border 0.4s linear;
}


.partnership-col img{
    width: 50%;
    margin: 0 auto;
    filter: invert(1);
}

.big-partnership-col img{
    width: 50%;
    padding-bottom: 40px;
    margin: 0 auto;
}


.big-partnership-col{
    max-width: 33.33%;
    padding: 50px;
}

.florida{
    width: 50%;
    height: 40px;
    position: absolute;
    top: 45%;
    left: 25%;

}
.free-task{
    width: 100%;
    height: 250px;
    background-color: #B4D0E7;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.free-task h3{
    padding-right: 80px;
    font-size: 30px;
    color: #61082B;
}

/* Q&A */
.qanda{
    text-align: center;
    margin-top: 40px;
    max-width: 800px;
    padding: 50px;
}


.qanda div{
    font-size: 28px;
    text-align: left;
    padding:20px 0;
}

.question-box span{
    font-size: 14px;
    font-weight: bold;
}

.question-box{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.fa-angle-down{
    position: relative;
    left: 80px;
}


/* footer */

footer{
    background-color: #000;
    width: 100%;
}


footer .col{
    color: #fff;
    padding: 10px 0;
    flex-basis: calc(100% / 5);
    margin:50px 0;

}

footer li{
    margin-bottom: 10px;
}

footer h4{
    margin-bottom: 20px;
}

footer hr{
    margin-bottom: 20px;
    width: 10%;
    color: grey;
}

footer span{
    color: grey;
    padding:5px;

}
